<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primary</key>
	<string>3f72b5</string>
	<key>secondary</key>
	<string>305e9f</string>
	<key>priority0</key>
	<string>B0BEC5</string>
	<key>priority1</key>
	<string>FFB74D</string>
	<key>priority2</key>
	<string>ef5350</string>
</dict>
</plist>
